<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ context.form.as_p }}
    <button type="submit">Add Course</button>
</form>

{% for course in context.courseDb %}
    <p>{{ course.name }}</p>
    <p>{{ course.code }}</p>
    <p>{{ course.description }}</p>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ course.id }}">
        <button type="submit">Delete</button>
    </form>

<button
    onclick="showEditForm(
        '{{ course.id }}',
        '{{ course.name|escapejs }}',
        '{{ course.code|escapejs }}',
        '{{ course.description|escapejs }}',
    )">
    Edit
</button>

{% endfor %}

<form id="edit-form" method="post" style="display: none;" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="id" id="edit-id">
    <div>
        <label for="edit-name">Course Name:</label>
        <input type="text" name="edit-name" id="edit-name">
    </div>
    <div>
        <label for="edit-code">Course Code:</label>
        <input type="text" name="edit-code" id="edit-name">
    </div>
    <div>
        <label for="edit-description">Description:</label>
        <input type="text" name="edit-description" id="edit-description">
    </div>

    <button type="submit">Save Changes</button>
    <button type="button" onclick="hideEditForm()">Cancel</button>
</form>

<script>
    function showEditForm(id, code, name, description) {
        document.getElementById("edit-form").style.display = "block";
        document.getElementById("edit-id").value = id;
        document.getElementById("edit-name").value = name;
        document.getElementById("edit-code").value = code;
        document.getElementById("edit-description").value = description;
    }

    function hideEditForm() {
        document.getElementById("edit-form").style.display = "none";
    }
</script>
